# Wails build artifacts
OrangeSQL/build/bin

# Frontend
OrangeSQL/frontend/dist
OrangeSQL/frontend/node_modules

# Build output
OrangeSQL/orangesql.exe

# Local database
OrangeSQL/test.db
OrangeSQL/data.db